<!------ start desktop ------>


<textarea style="display: none;" id="sourceCode1" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector1" value="div.ui-pdp-breadcrumb">

<!----------->
<textarea style="display: none;" id="sourceCode2" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector2" value="span.ui-pdp-subtitle">

<!----------->
<textarea style="display: none;" id="sourceCode3" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector3" value="span.ui-pdp-review__rating">


<!----------->
<textarea style="display: none;" id="sourceCode4" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector4" value="span.ui-pdp-review__amount">



<!----------->
<textarea style="display: none;" id="sourceCode5" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector5" value="div section.ui-vpp-highlighted-specs.pl-45.pr-45">




<!----------->
<textarea style="display: none;" id="sourceCode6" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector6" value="div.ui-pdp-description.pl-45.pr-45.ui-pdp-collapsable--is-collapsed">




<!----------->
<textarea style="display: none;" id="sourceCode7" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector7" value="div.ui-pdp-qadb__questions-list__wraper">


<!----------->
<textarea style="display: none;" id="sourceCode8" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector8" value="div.andes-carousel-snapped.ui-review-capability-carousel.reviews-carousel-primary.andes-carousel-snapped--scroll-hidden">



<!----------->
<textarea style="display: none;" id="sourceCode9" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector9" value=".ui-review-capability-comments">



<!----------->
<textarea style="display: none;" id="sourceCode10" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector10" value="p.ui-review-capability__rating__average.ui-review-capability__rating__average--desktop">


                                                                 
<!----------->
<textarea style="display: none;" id="sourceCode11" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector11" value="span.ui-pdp-review__amount">

<!----------->
<textarea style="display: none;" id="sourceCode12" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector12" value="#description">

<!----------- start mobile ----------->

<textarea style="display: none;" id="sourceCode13" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector13" value="#description">

<!----------->
<textarea style="display: none;" id="sourceCode14" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector14" value="div.ui-pdp-description.pl-45.pr-45.ui-pdp-collapsable--is-collapsed">

  
<!----------->
<textarea style="display: none;" id="sourceCode15" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector15" value="span.ui-pdp-subtitle">


<!----------->
<textarea style="display: none;" id="sourceCode16" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector16" value="span.ui-pdp-review__rating">


<!----------->
<textarea style="display: none;" id="sourceCode17" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector17" value="span.ui-pdp-review__amount">



<!----------->
<textarea style="display: none;" id="sourceCode18" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector18" value="div section.ui-vpp-highlighted-specs.pl-45.pr-45">



<!----------->
<textarea style="display: none;" id="sourceCode19" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector19" value="div#highlighted_specs_features">




<!----------->
<textarea style="display: none;" id="sourceCode20" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector20" value="div.ui-pdp-qadb__questions-list__wraper">



<!----------->
<textarea style="display: none;" id="sourceCode21" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector21" value="div.andes-carousel-snapped.ui-review-capability-carousel.reviews-carousel-primary.andes-carousel-snapped--scroll-hidden">



<!----------->
<textarea style="display: none;" id="sourceCode22" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector22" value="div.ui-review-capability-comments div div.infinite-scroll-component">



<!----------->
<textarea style="display: none;" id="sourceCode23" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector23" value="p.ui-review-capability__rating__average.ui-review-capability__rating__average--desktop">



<!----------->
<textarea style="display: none;" id="sourceCode24" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector24" value="span.ui-pdp-review__amount">



<!----------->
<textarea style="display: none;" id="sourceCode25" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector25" value="nav ol li li a.andes-breadcrumb__link">



<textarea style="display: none;" id="sourceCode26" rows="10" cols="50" value="{{ product.description }}"></textarea>

<input style="display: none;" type="text" id="selector26" value="div.ui-pdp-seller.mb-20.mt-20.ui-pdp-seller__with-logo">


  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        for (let i = 1; i <= 26; i++) {
            findElement(i);
        }
    });

    function findElement(index) {
        const sourceCode = document.getElementById('sourceCode' + index).value;
        const selector = document.getElementById('selector' + index).value;
        const result = document.getElementById('result' + index);

        try {
            const parser = new DOMParser();
            const doc = parser.parseFromString(sourceCode, 'text/html');
            const element = doc.querySelector(selector);
            console.log(element)

            if (element) {
                result.innerHTML = "";
                result.appendChild(element.cloneNode(true));
            } else {
                result.textContent = "";
            }
        } catch (error) {
            result.textContent = "Erro ao procurar elemento: " + error.message;
        }
    }
</script>
</body>
</html>
