{% section 'pix-gerador' %}


<head>

  <link rel="stylesheet" href="{{ 'cod.css' | asset_url }}"/>

  <style>

     #chamada {display: none;}
 @media screen and (min-width: 768px){
   #chamada {display: block;}
 }
    
  </style>



  
</head>


<body data-site="ML" data-country="BR" style="">
  
  
  <header id="chamada" role="banner" data-siteid="MLB" class="nav-header nav-header-pluslite ui-navigation-v2"><div class="nav-bounds"><div class="nav-header-logo"><a style="display: none;" id="nav-skip-to-main-content" role="button" href="#root-app" class="nav-skip-to-main-content" aria-label="Pular para o conteúdo"><span class="nav-skip-to-main-content__content">Pular para o conteúdo</span></a><a class="nav-logo" href="#">Mercado Livre Brasil - Onde comprar e vender de Tudo</a></div><div class="nav-header-menu-wrapper"><nav id="nav-header-menu"><div class="nav-header-user"><label for="nav-header-user-switch"><a href="https://myaccount.mercadolivre.com.br/summary" class="nav-header-user-myml" aria-expanded="false" role="button" aria-label="Menu do usuário, aline"><span class="nav-header-usermenu-wrapper"><span class="nav-header-avatar-user" data-js="user-menu:nav-header-avatar-user"><i class="nav-icon-user"></i></span><span class="nav-header-username">aline</span><span class="nav-header-username-chevron"></span></span></a></label><input type="checkbox" id="nav-header-user-switch"><nav class="nav-header-user-layer user-menu--hidden user-menu user-menu__one-column" tabindex="-1" hidden="hidden" aria-label="Menu do usuário, aline" aria-modal="true" role="dialog">
    <div class="user-menu__main">
      
    <div class="user-menu__user-info-outer-container user-menu__user-with-loyalty">
      <div class="user-menu__user-info-inner-container">
      
    <div class="user-menu__user-badge user-menu__user-badge--center">
    
      <div class="user-menu__user-badge-image">
        
  
  <div class="user-menu__loyalty-components">
    
    <svg class="user-menu__user-progress user-menu--level-1" viewBox="0 0 100 100">
        <path class="base" stroke-linecap="round" stroke-width="4" stroke="#eee" fill="none" d="M50 10
            a 40 40 0 0 1 0 80
            a 40 40 0 0 1 0 -80">
        </path>
        
    </svg>
  
  </div>

  
    <form data-js="user-menu:avatar-form" method="POST" action="//www.mercadolivre.com.br/menu/user/picture" enctype="multipart/form-data" class="user-menu__avatar-form">
      <label class="user-menu__avatar-label">
        <span class="user-menu__avatar-text">Adicionar foto</span>
        
  <span data-js="user-menu:avatar-icon">
    <svg width="40" height="40" viewBox="0 0 40 40">
      <path fill-opacity=".25" fill-rule="evenodd" d="M20 0c11.046 0 20 8.954 20 20s-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0zm0 1.5C9.783 1.5 1.5 9.783 1.5 20S9.783 38.5 20 38.5 38.5 30.217 38.5 20 30.217 1.5 20 1.5zM29.75 25v2.25H32v1.5h-2.25V31h-1.5v-2.25H26v-1.5h2.25V25h1.5zM26 24.25v1.5H13.98c-1.178 0-2.143.914-2.224 2.071l-.006.16v.75h-1.5v-.75c0-1.994 1.564-3.623 3.532-3.726l.198-.005H26zM19.999 9.248c3.728 0 6.751 3.023 6.751 6.751s-3.023 6.751-6.751 6.751-6.751-3.023-6.751-6.751 3.023-6.751 6.751-6.751zm0 1.5c-2.9 0-5.251 2.351-5.251 5.251 0 2.9 2.351 5.251 5.251 5.251 2.9 0 5.251-2.351 5.251-5.251 0-2.9-2.351-5.251-5.251-5.251z"></path>
    </svg>
  </span>

        <img data-js="user-menu:avatar-picture" hidden="" class="user-menu__avatar-picture">
        <input data-js="user-menu:avatar-control" name="file" type="file" class="user-menu__avatar-control" accept="image/jpeg,.jpg,image/gif,.gif,image/png,.png,.jpeg,image/webp,.webp">
      </label>
    </form>
  

      </div>
      <p class="user-menu__user-badge-title">Olá aline</p>
      <a href="https://www.mercadolivre.com.br/hub-engine/hubs/my-profile#menu-user" class="user-menu__user-badge-email">
      Meu perfil<span class="user-menu__user-badge-email__chevron"></span>
    </a>
      
      
    
    </div>
  
        <div class="user-menu__user-pill">
              <a href="//www.mercadolivre.com.br/assinaturas/melimais#origin=drawer_pill" class="user-menu__user-pill-anchor">
                <img src="https://http2.mlstatic.com/resources/frontend/statics/loyal/partners/meliplus/pill-drawer/pill_drawer_meliplus_mlb.png" alt="DRAWER_PILL_MELIPLUS" decoding="async" class="user-menu__user-pill-image">
              </a>
            </div>
    </div>
  </div>
  
      
      
  <ul class="user-menu__shortcuts ">
    <li><span class="user-menu__shortcuts-separator"></span>
                  <a href="https://myaccount.mercadolivre.com.br/purchases/list#menu-user" data-id="purchases" rel="nofollow">
                    Compras
                    
                  </a>
            </li><li>
                  <a href="https://www.mercadolivre.com.br/perguntas/comprador#menu-user" data-id="questions" rel="nofollow">
                    Perguntas
                    
                  </a>
            </li><li>
                  <a href="https://www.mercadolivre.com.br/my-reviews?origin=user-menu#menu-user" data-id="my-reviews" rel="nofollow">
                    Opiniões
                    <span class="user-menu__shortcuts-tag">Novo</span>
                  </a>
            </li><li><span class="user-menu__shortcuts-separator"></span>
                  <a href="https://www.mercadolivre.com.br/cupons?source_page=mperfil#menu-user" data-id="coupons" rel="nofollow">
                    Cupons
                    
                  </a>
            </li><li>
                  <a href="https://www.mercadolivre.com.br/credits/hub#from=panel_nav_ml&amp;additional_info=header_menu#menu-user" data-id="credits" rel="nofollow">
                    Empréstimos
                    
                  </a>
            </li><li>
                  <a href="//www.mercadolivre.com.br/assinaturas#origin=menu-ml#menu-user" data-id="subscriptions" rel="nofollow">
                    Assinaturas
                    
                  </a>
            </li><li>
                  <a href="https://play.mercadolivre.com.br?origin=navigation_menu_ml#menu-user" data-id="mplay" rel="nofollow">
                    Mercado Play
                    <span class="user-menu__shortcuts-tag">Novo</span>
                  </a>
            </li><li><span class="user-menu__shortcuts-separator"></span>
                  <a href="https://www.mercadolivre.com.br/syi/core/list#menu-user" data-id="sell" rel="nofollow">
                    Vender
                    
                  </a>
            </li><li>
                  <a href="https://myaccount.mercadolivre.com.br/summary#menu-user" data-id="summary" rel="nofollow">
                    Resumo
                    
                  </a>
            </li><li>
                  <a href="https://www.mercadolivre.com.br/novidades?from=drawer#menu-user" data-id="news" rel="nofollow">
                    Novidades
                    
                  </a>
            </li><li>
                  <a href="https://myaccount.mercadolivre.com.br/listings/list#menu-user" data-id="listings" rel="nofollow">
                    Anúncios
                    
                  </a>
            </li><li>
                  <a href="https://myaccount.mercadolivre.com.br/sales/list#menu-user" data-id="sales" rel="nofollow">
                    Vendas
                    
                  </a>
            </li><li>
                  <a href="https://pa.mercadolivre.com.br/advertising?utm_source=drawer&amp;utm_medium=link&amp;utm_campaign=engagement#menu-user" data-id="advertising" rel="nofollow">
                    Publicidade
                    
                  </a>
            </li><li>
                  <a href="https://myaccount.mercadolivre.com.br/billing/summary#menu-user" data-id="bill" rel="nofollow">
                    Faturamento
                    
                  </a>
            </li><li>
                  <a href="https://www.mercadolivre.com.br/mercadoshops?utm_source=mercadolibre&amp;utm_medium=referral&amp;utm_campaign=hunting_always_on&amp;utm_content=menu_drawer#menu-user" data-id="mshops" rel="nofollow">
                    Mercado Shops
                    
                  </a>
            </li><li><span class="user-menu__shortcuts-separator"></span>
                  <a href="https://www.mercadolibre.com/jms/mlb/lgz/logout?go=https://www.mercadolivre.com.br#menu-user" data-id="logout" rel="nofollow">
                    Sair
                    
                  </a>
            </li>
  </ul>

    </div>
    <div class="user-menu__old">
      <a href="https://myaccount.mercadolivre.com.br#nav-header" rel="nofollow">Minha conta</a><a href="https://www.mercadolivre.com/jms/mlb/lgz/logout#nav-header" rel="nofollow">Sair</a>
    </div>
    <span class="user-menu__chevron"></span>
</nav></div><a class="option-help" rel="nofollow">Contato</a></nav></div></div></header><main role="main" id="root-app"><div class="main-wrapper congrats-step-container"><div id="mldp"><div data-js="device-profile">

<noscript>
    <img id="noscript" style="display: none" src="https://www.mercadolibre.com/jms/lgz/background/session/armor.107303cd6dcdcbef70cb0895f92e7a23e5df2ba21092270058ef056cef49aff3aeba9f9cd1d10c2925075863fe8f7077d50734f42af5727171c6ec973aa2029e5b5d33065286c65846c68178b8329f6d5e05d139c98cdd84afd3d001c1f01349.fed3a344772fd1ad50035a7e0d450d13?background=armor.107303cd6dcdcbef70cb0895f92e7a23e5df2ba21092270058ef056cef49aff3aeba9f9cd1d10c2925075863fe8f7077d50734f42af5727171c6ec973aa2029e5b5d33065286c65846c68178b8329f6d5e05d139c98cdd84afd3d001c1f01349.fed3a344772fd1ad50035a7e0d450d13&message=eyJqc190eXBlIjoianNfY29va2llIiwidmFsdWUiOiJ4In0">
</noscript>
</div></div><div class="main-container" data-js="main-container" data-id="main"><div id="retur-payment" class="bf-ui-banner bf-ui-banner--success" data-js="banner"><button style="outline: 0; background: none;"  class="bf-ui-banner__icon-close-container"><span class="bf-ui-icon-container bf-ui-icon-container--regular"><img id="close_white" class="bf-ui-icon bf-ui-icon--close_white" src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/3.0.7/assets/icons/close_white.svg" alt=""></span></button><section class="bf-ui-banner__container"><div class="bf-ui-banner__text"><h1 class="bf-ui-banner__title" data-js="title" aria-label="Pague 1196.37 Real via Pix para garantir sua compra"><span data-js="rich-text" class="bf-ui-rich-text">Pague </span><span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="bf-ui-rich-price"><meta itemprop="price" content="1.196undefined37"><span itemprop="priceCurrency" aria-hidden="true">R$<!-- --></span><span class="bf-ui-price-small">{% assign total_price = cart.total_price | money_without_currency %}{% assign parts = total_price | split: ',' %}
{% assign integer_part = parts[0] %}
{% assign decimal_part = parts[1] | default: '00' %} {{ integer_part }}</span><span><span></span><span class="bf-ui-price-small-cents">{{ decimal_part }}</span></span></span><span data-js="rich-text" class="bf-ui-rich-text"> via Pix para garantir sua compra</span></h1></div>

    {% for line_item in cart.items %}
  {% if item.variant.product.id == product.id %} 
  <div class="bf-ui-banner__images" data-js="thumbnail">



     <img style="width: 60px;
    height: auto;
  
    border-radius: 100%;" class="misc-img product-img img-fluid {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}" data-src="{{ line_item.image | img_url: img_size, crop: 'center' }}"srcset="{{ line_item.image | img_url: img_size, crop: 'center' }}"
                                                    loading="lazy"
                                                    alt="{{ line_item.image.alt | escape }}"
                                                    width="{{ section.settings.img_width }}"
                                                    height="{{ section.settings.img_height }}">
    

  
  <div class="bf-ui-badge bf-ui-badge__icon" data-js="badge--icon"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g><g><circle fill="#008744" cx="8" cy="8" r="8"></circle><g transform="translate(2.800000, 6.800000)" fill="#FFFFFF"><circle cx="1.2" cy="1.2" r="1.2"></circle><circle cx="5.2" cy="1.2" r="1.2"></circle><circle cx="9.2" cy="1.2" r="1.2"></circle></g></g></g></g></svg></div></div>
    {% endif %}{% endfor %}
</section></div><div class="container" data-js="container"><div data-js="card" data-id="card" class="bf-ui-card bf-ui-card--flat"><h2 class="bf-ui-card-title bf-ui-card-title--mid" aria-label="Escaneie este código para pagar" data-id="body_congrats_title" data-js="card-title"><span data-js="rich-text" class="bf-ui-rich-text">Escaneie este código para pagar</span></h2><ol data-js="ordered-list" data-id="ordered_list" class="bf-ui-ordered-list"><li class="bf-ui-ordered-list__list-element"><div data-js="information-row" data-id="information_row" class="bf-ui-information-row"><h4 class="bf-ui-information-row__title" data-js="title" aria-label=""><span data-js="rich-text" class="bf-ui-rich-text"></span></h4><p class="bf-ui-information-row__content" aria-label="Acesse seu Internet Banking ou app de pagamentos." data-js="content"><span data-js="rich-text" class="bf-ui-rich-text bf-ui-rich-text--dark">Acesse seu Internet Banking ou app de pagamentos.</span></p></div></li><li class="bf-ui-ordered-list__list-element"><div data-js="information-row" data-id="information_row" class="bf-ui-information-row"><h4 class="bf-ui-information-row__title" data-js="title" aria-label=""><span data-js="rich-text" class="bf-ui-rich-text"></span></h4><p class="bf-ui-information-row__content" aria-label="Escolha pagar via Pix." data-js="content"><span data-js="rich-text" class="bf-ui-rich-text bf-ui-rich-text--dark">Escolha pagar via Pix.</span></p></div></li><li class="bf-ui-ordered-list__list-element"><div data-js="information-row" data-id="information_row" class="bf-ui-information-row"><h4 class="bf-ui-information-row__title" data-js="title" aria-label=""><span data-js="rich-text" class="bf-ui-rich-text"></span></h4><p class="bf-ui-information-row__content" aria-label="Escaneie o seguinte código:" data-js="content"><span data-js="rich-text" class="bf-ui-rich-text bf-ui-rich-text--dark">Escaneie o seguinte código:</span></p></div></li></ol><div style="display: flex;
    justify-content: center;
    align-items: center;" class="bf-ui-image-with-epigraph bf-ui-image-with-epigraph--base64" data-js="image-with-epigraph" data-id="codigo_qr">
  
  
  <div style="margin: 0;" class="bf-ui-image-with-epigraph__qr" data-js="image">

    
    <div id="qrcode"></div>
    
   </div>
</div><div data-id="card_disclaimer" data-js="card-disclaimer" class="bf-ui-card-disclaimer"><div class="bf-ui-card-disclaimer__icon"><span class="bf-ui-icon-container bf-ui-icon-container--regular"><img id="clock" class="bf-ui-icon bf-ui-icon--clock" src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/3.0.7/assets/icons/clock.svg" alt=""></span></div><span class="bf-ui-card-disclaimer__title bf-ui-card-disclaimer__title--small" data-js="title" aria-label="Pague e será creditado na hora"><span data-js="rich-text" class="bf-ui-rich-text">Pague e será creditado na hora </span><span id="contabel00"></span></span></div><div class="bf-ui-separator" data-js="separator" data-id="separator"></div><h2 class="bf-ui-card-title bf-ui-card-title--mid" aria-label="Ou copie este código QR para fazer o pagamento" data-id="body_congrats_title" data-js="card-title"><span data-js="rich-text" class="bf-ui-rich-text">Ou copie este código QR para fazer o pagamento</span></h2><div class="bf-ui-card-description"><p class="bf-ui-card-description-text" data-id="body_congrats_description" aria-label="Escolha pagar via Pix pelo seu Internet Banking ou app de pagamentos. Depois, cole o seguinte código:" data-js="card-description"><span data-js="rich-text" class="bf-ui-rich-text">Escolha pagar via Pix pelo seu Internet Banking ou app de pagamentos. Depois, cole o seguinte código:</span></p></div>
  

  
  
  <div style="padding: 8px;" class="bf-ui-container-code bf-ui-container-code--with-action undefined">
 
    <input type="text" id="pixText" readonly value="" style="
    width: 100%;height: auto;background: transparent; border: none;font-family: 'Proxima Nova';font-weight: 600; border: 1px solid transparent; outline: 0;">

    <button  id="botaoCopiar" onclick="copiarTexto()" class="bf-ui-container-code__action" aria-label="Copiar">
        <span id="CopiarChave" class="bf-ui-rich-text bf-ui-rich-text--neutral">Copiar</span>
    </button>
</div>
  
<!-- Campo de entrada oculto para enviar valor ao script -->
  <input style="display: none;" type="text" id="qr-input">
  <script>
    var qrCodeDiv = document.getElementById("qr-code");
    var campoDeEntrada = document.getElementById("campoDeEntrada");
    var qrInput = document.getElementById("qr-input");
    
    function generateQRCode(text) {
      qrCodeDiv.innerHTML = ""; // Limpa qualquer QR Code anterior
      
      if (text.trim() !== "") {
        var qrcode = new QRCode(qrCodeDiv, {
          text: text,
          
        });
      }
    }
    
    campoDeEntrada.addEventListener("input", function() {
      qrInput.value = campoDeEntrada.value; // Atualiza o campo oculto
      generateQRCode(campoDeEntrada.value);
    });
    
    // Gera o QR Code inicial
    generateQRCode(campoDeEntrada.value);
  </script>

<style>



  </style>
  
</body>
</html>
   <style>
        /* Estilo para remover a borda */
        .no-border {
            border: none;
        }
    </style>
    <script>
        function copiarTexto() {
            // Seleciona o campo de entrada
            var campoDeEntrada = document.getElementById("pixText");

            // Seleciona o texto do campo de entrada
            campoDeEntrada.select();

            // Copia o texto selecionado para a área de transferência
            document.execCommand("copy");

            // Remove a borda do campo de entrada
            campoDeEntrada.classList.add("no-border");

            // Modifica o texto e a cor do botão
            var botaoCopiar = document.getElementById("botaoCopiar");
            botaoCopiar.innerHTML = "Código Copiado";
            botaoCopiar.style.color = "#00a650";
        }
    </script>
</head>
  

  <div class="bf-ui-button-container bf-ui-button-container--vertical bf-ui-button-container--transparent" data-js="button-container" data-id="button_container"><button type="button" id="botaoCopiar" onclick="copiarTexto()" class="andes-button bf-ui-button andes-button--medium andes-button--loud"><span class="andes-button__content"><span class="andes-button__text">Copiar código</span></span></button><a href="/pages/compras" class="andes-button bf-ui-button andes-button--medium andes-button--transparent" id="react-aria-2" data-js="button" data-id="button"><span class="andes-button__content"><span class="andes-button__text">Ver em minhas compras</span></span></a></div></div></div></div></div></main><footer id="chamada" role="contentinfo" class="nav-footer"><div class="nav-footer-user-info nav-bounds"><div class="nav-footer-info-wrapper"><div class="nav-footer-primaryinfo"><small class="nav-footer-copyright">Copyright ©&nbsp;1999-2023 Ebazar.com.br LTDA.</small><nav class="nav-footer-navigation"><ul class="nav-footer-navigation__menu"><li class="nav-footer-navigation__item"><a href="https://careers-meli.mercadolibre.com/pt?utm_campaign=site-mlb&amp;utm_source=mercadolibre&amp;utm_medium=mercadolibre" class="nav-footer-navigation__link">Trabalhe conosco</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/ajuda/Termos-e-condicoes-gerais-de-uso_1409" class="nav-footer-navigation__link">Termos e condições</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/privacidade" class="nav-footer-navigation__link">Como cuidamos da sua privacidade</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/acessibilidade" class="nav-footer-navigation__link">Acessibilidade</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/ajuda" class="nav-footer-navigation__link">Contato</a></li><li class="nav-footer-navigation__item"><a href="https://www.mercadolivre.com.br/ajuda/23303" class="nav-footer-navigation__link">Informações sobre seguros</a></li></ul></nav></div><p class="nav-footer-secondaryinfo">CNPJ n.º 03.007.331/0001-41 / Av. das Nações Unidas, nº 3.003, Bonfim, Osasco/SP - CEP 06233-903 - empresa do grupo Mercado Livre.</p></div></div><a class="nav-footer-hp" href="https://hp.mercadolibre.com/?p=ML&amp;s=MLB&amp;d=desktop">Mercado Livre</a></footer>
<iframe height="0" width="0" style="display: none; visibility: hidden;" src="https://6194055.fls.doubleclick.net/activityi;src=6194055;type=marke0;cat=check0;qty=1;cost=1196.37;ord=2000006365477606;gclaw=CjwKCAjwyqWkBhBMEiwAp2yUFmVpuN84oa1r86vL07XGKQHQI9-sVU4aXdbcs6MFahC6EJjOLmnRfhoCK-sQAvD_BwE;gac=UA-46090222-1%3ACjwKCAjwyqWkBhBMEiwAp2yUFmVpuN84oa1r86vL07XGKQHQI9-sVU4aXdbcs6MFahC6EJjOLmnRfhoCK-sQAvD_BwE;auiddc=1214503226.1686682528;u1=;u2=MLB1699210136;u3=1196.37;u4=MLB1000;gtm=45He38s0;uaa=x86;uab=64;uafvl=Google%2520Chrome%3B117.0.5938.22%7CNot%253BA%253DBrand%3B8.0.0.0%7CChromium%3B117.0.5938.22;uamb=0;uam=;uap=Windows;uapv=10.0.0;uaw=0;epver=2;~oref=https%3A%2F%2Fwww.mercadolivre.com.br%2Fgz%2Fcheckout%2Fdirect%2Fbuying%2F4fe8378144db4829baf75681d6c6dc94%2Fcongrats?"></iframe><iframe src="https://www.mercadolibre.com/jms/lgz/background?dps=armor.107303cd6dcdcbef70cb0895f92e7a23e5df2ba21092270058ef056cef49aff3aeba9f9cd1d10c2925075863fe8f7077d50734f42af5727171c6ec973aa2029e5b5d33065286c65846c68178b8329f6d5e05d139c98cdd84afd3d001c1f01349.fed3a344772fd1ad50035a7e0d450d13" style="display: none; width: 0; height: 0; border: none; margin: 0;"></iframe>

 
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1481750885409598&amp;ev=PageView&amp;noscript=1"></noscript>









<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?event=init&amp;tid=2613911516476&amp;pd[em]=&lt;hashed_email_address&gt;&amp;noscript=1">
</noscript>




<iframe id="_hjSafeContext_26051206" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
<div id="criteo-tags-div" style="display: none;"></div><div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon484861519949"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon944087316934" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=21024398&amp;Ver=2&amp;mid=c17d25cd-37c7-42d0-964b-8406d4fd0b1a&amp;sid=3110d04044d811ee99a61f251787d870&amp;vid=dd4bbbe00a1b11eebe6b811ced0f6259&amp;vids=0&amp;msclkid=N&amp;uach=pv%3D10.0.0&amp;pi=918639831&amp;lg=pt-BR&amp;sw=1366&amp;sh=768&amp;sc=24&amp;tl=Mercado%20Livre%20-%20Status%20da%20sua%20compra&amp;p=https%3A%2F%2Fwww.mercadolivre.com.br%2Fgz%2Fcheckout%2Fdirect%2Fbuying%2F4fe8378144db4829baf75681d6c6dc94%2Fcongrats&amp;r=https%3A%2F%2Fwww.mercadolivre.com.br%2Fgz%2Fcheckout%2Fdirect%2Fbuying%2F4fe8378144db4829baf75681d6c6dc94%2Fcongrats&amp;lt=1008&amp;evt=pageLoad&amp;sv=1&amp;rn=110489"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon771393556432" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=21024398&amp;Ver=2&amp;mid=c17d25cd-37c7-42d0-964b-8406d4fd0b1a&amp;sid=3110d04044d811ee99a61f251787d870&amp;vid=dd4bbbe00a1b11eebe6b811ced0f6259&amp;vids=0&amp;msclkid=N&amp;prodid=undefined&amp;pagetype=purchase&amp;ecomm_totalvalue=1196.37&amp;gv=1196.37&amp;gc=BRL&amp;ea=Purchase&amp;en=Y&amp;p=https%3A%2F%2Fwww.mercadolivre.com.br%2Fgz%2Fcheckout%2Fdirect%2Fbuying%2F4fe8378144db4829baf75681d6c6dc94%2Fcongrats&amp;sw=1366&amp;sh=768&amp;sc=24&amp;evt=custom&amp;rn=672355"></div><iframe src="//tpc.googlesyndication.com/sodar/Beq5YUTp.html" width="0" height="0" style="display: none;"></iframe><img src="https://us.ck-ie.com/qse96.gif?puid=XI1YoYqdKqcxgeq44LOE" width="1" height="1" scrolling="no" frameborder="0" style="display:none"><iframe width="1" height="1" scrolling="no" frameborder="0" style="display:none" src="https://fledge-usa.creativecdn.com/fledge-igmembership?ntk=dgudHvQKyqsqYD_JXhepUEnGIpna1RE0nwoZiuyCN2ANzqhWp1ZdUvIz_Ex59IFlMFnxz85X1oG4MLaavIDNFs1TCy_zb0ZXj0jN5J42Idw"></iframe><iframe width="1" height="1" scrolling="no" frameborder="0" style="display:none" src="https://us.creativecdn.com/topics-membership?ntk=txOComMmvLmQqlIYn7E2ZjQ9bF8jJJ-jLTgqiBcgg1xgAdM0ZYfbEUVkxhyOYZZ1WAkMZIsh5eKJXXsxwJ8msiOTLuc4VbYhrBwWtixFpaI"></iframe><iframe height="0" width="0" title="Criteo DIS iframe" style="display: none;"></iframe><div style="display: none; visibility: hidden;"><img width="0" height="0" src="https://beacon.krxd.net/event.gif?event_id=OD6WIr-9&amp;event_type=purchase&amp;itemIds=MLB1699210136&amp;itemSoldQuantities=1&amp;itemBrandIds=Samsung&amp;itemConditions=new&amp;itemCategoryIds=MLB1002&amp;totalAmount=245.63&amp;paymentType=bank_transfer"></div></body>





<script>
  // Função para limpar o carrinho
  function clearCart() {
    $.ajax({
      type: 'POST',
      url: '/cart/clear',
      success: function() {
        // Carrinho limpo com sucesso
        // Redirecione para a página inicial ou execute qualquer outra ação, se necessário
        window.location.href = "/pages/cancelado";
      },
      error: function() {
        // Lidie com erros, se necessário
      }
    });
  }

  // Função para iniciar o cronômetro
  function startTimer() {
    // Defina o tempo em milissegundos (15 minutos = 900000 milissegundos)
    var tempo = 900000;

    // Elemento onde o cronômetro será exibido
    var contabelElement = document.getElementById("contabel00");

    // Atualize o conteúdo do elemento a cada segundo
    var timerInterval = setInterval(function() {
      var minutos = Math.floor(tempo / 60000);
      var segundos = Math.floor((tempo % 60000) / 1000);

      // Formate os minutos e segundos com dois dígitos
      minutos = minutos < 10 ? "0" + minutos : minutos;
      segundos = segundos < 10 ? "0" + segundos : segundos;

      // Exiba o cronômetro no elemento
      contabelElement.innerHTML = minutos + ":" + segundos;

      // Reduza o tempo restante
      tempo -= 1000;

      // Quando o tempo acabar, limpe o carrinho, pare o cronômetro e exiba a mensagem
      if (tempo < 0) {
        clearCart();
        clearInterval(timerInterval);
        contabelElement.innerHTML = "Tempo expirado";
      }
    }, 1000);
  }

  // Inicie o cronômetro quando a página estiver completamente carregada
  document.addEventListener("DOMContentLoaded", function() {
    startTimer();
  });
</script>